/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap");

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

#map {
  height: 100%;
  min-height: 732px;
}

/** inner page css **/

.position_head .header {
  position: inherit;
  background: white;
}
.position_head {
  margin-bottom: 90px;
}

.header {
  width: 100%;
  padding: 1rem 1rem;
  background: white;
  border-top: #090102 solid 11px;
}

.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  min-width: 15rem;
}

.header__contents__logo {
  display: flex;
  width: 8rem;
  height: auto;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #0477b9;
}

.header__contents__info {
  display: block;
  font-size: 2rem;
  color: #0477b9;
  cursor: pointer;
}

.info-btn {
  background: white;
  width: 3rem;
  height: 3rem;
  border: solid 0.2rem #0477b9;
  border-radius: 75%;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.info__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  justify-content: center;
  display: none;
}

.modal__wrapper {
  display: flex;
  width: 20rem;
  height: auto;
  border-radius: 1rem;
  background: white;
  position: relative;
  min-width: 15rem;
}

.info__modal__wrapper {
  position: absolute;
  top: 10%;
  width: 20rem;
  height: min-content;
  border-radius: 1rem;
  background: white;
  position: relative;
  min-width: 15rem;
}

.modal__wrapper__contents {
  width: 100%;
  padding: 1.5rem;
}

.info__modal__wrapper__contents {
  width: 100%;
  padding: 1.2rem;
  display: flex;
}

.modal__wrapper__contents__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.589);
}

.modal__wrapper__contents__logo__close {
  display: block;
  font-size: 1.6rem;
  color: black;
  cursor: pointer;
}

.info__modal__wrapper__contents__close {
  display: block;
  margin-left: 0.6rem;
  font-size: 1.5rem;
  color: #f0861d;
  cursor: pointer;
}

.modal__wrapper__contents__logo__img {
  width: 5rem;
  height: auto;
}

.modal__wrapper__contents__info {
  padding-top: 0.5rem;
}

.modal__wrapper__contents__info__title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3rem;
  color: black;
  padding-bottom: 0.5rem;
}

.modal__wrapper__contents__info__img {
  border-radius: 5%;
  width: 15rem;
  height: auto;
}

.modal__wrapper__contents__info__about {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  color: black;
}

.info__modal__wrapper__contents__about {
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

.modal__wrapper__contents__buttons {
  padding-top: 0.3rem;
}

.play-btn {
  text-decoration: none;
  font-size: 0.6rem !important;
  background: rgba(121, 185, 67, 0.1);
  border: 1px solid #79b943;
  box-shadow: 0 0.3rem 4px rgba(0, 0, 0, 0.25);
}

.contr-btn {
  text-decoration: none;
  font-size: 0.6rem !important;
  background: rgba(240, 134, 29, 0.1);
  border: 1px solid rgb(240, 134, 29);
  box-shadow: 0 0.3rem 4px rgba(0, 0, 0, 0.25);
}

.go-btn {
  text-decoration: none;
  font-size: 0.6rem !important;
  color: white;
  background: black;
  box-shadow: 0 0.3rem 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.indicator {
  font-size: 0.5rem;
  color: rgb(143, 143, 143);
}

.footer__un {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 1.5rem 0;
  overflow: hidden;
  margin: 0;
  height: 10px;
}

.footer__un__info {
  color: #0a0909;
  font-size: 1rem;
  font-weight: 500;
}
